@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; 
}

body{
    background-image: url('background.jpg');
    background-size: cover; /* Adjust the size property to cover or contain as needed */
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(0px);
}


.goBackBtn{
    position: absolute;
            top: 5%;
            left: 5%;
            cursor: pointer;
}



.arrow {
    width: 1vw;
    height: 1vw;
    display: inline-block;
    transform: rotate(90deg);
}

.arrow span {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

#heading{
    top: 10%;
    left: 42%;
    position: absolute;
    color: whitesmoke;
    font-weight: bold;
}

#dilushaImg{
    top: 35%;
    left: 13%;
    position: absolute;
    width: 200px;
    height: auto;
    display: none;
}

.dilusha{
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #333;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

#dilushaContent{
    display: none;
    position: absolute;
    color: whitesmoke;
    left: 40%;
    top: 50%;
    text-align: justify;
    padding-right: 5%;
}


.dilusha:hover ~ #dilushaImg, 
.dilusha:hover ~ #dilushaContent{
    display: block;
}



#thanugaImg{
    top: 35%;
    left: 15%;
    position: absolute;
    width: 200px;
    height: auto;
    display: none;
}

.thanuga{
    position: absolute;
    top: 20%;
    left: 26%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #333;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

#thanugaContent{
    display: none;
    position: absolute;
    color: whitesmoke;
    left: 60%;
    top: 50%;
}

.thanuga:hover ~ #thanugaImg, 
.thanuga:hover ~ #thanugaContent{
    display: block;
}


#janudaImg{
    top: 35%;
    left: 15%;
    position: absolute;
    width: 200px;
    height: auto;
    display: none;
}

.januda{
    position: absolute;
    top: 20%;
    left: 44%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #333;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

#janudaContent{
    display: none;
    position: absolute;
    color: whitesmoke;
    left: 60%;
    top: 50%;
}

.januda:hover ~ #janudaImg, 
.januda:hover ~ #janudaContent{
    display: block;
}


#thilanImg{
    top: 35%;
    left: 15%;
    position: absolute;
    width: 200px;
    height: auto;
    display: none;
}

.thilan{
    position: absolute;
    top: 20%;
    left: 60%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #333;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

#thilanContent{
    display: none;
    position: absolute;
    color: whitesmoke;
    left: 60%;
    top: 50%;
}

.thilan:hover ~ #thilanImg, 
.thilan:hover ~ #thilanContent{
    display: block;
}


#vihangiImg{
    top: 35%;
    left: 15%;
    position: absolute;
    width: 200px;
    height: auto;
    display: none;
}

.vihangi{
    position: absolute;
    top: 20%;
    left: 75%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #333;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

#vihangiContent{
    display: none;
    position: absolute;
    color: whitesmoke;
    left: 42%;
    top: 50%;
    padding-right: 5%;
    text-align: justify;
}

.vihangi:hover ~ #vihangiImg, 
.vihangi:hover ~ #vihangiContent{
    display: block;
}
