@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; 
}

body{
    background-image: url('accountcreation.jpg');
    background-size: cover; /* Adjust the size property to cover or contain as needed */
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(0px);
}

#Email {
    font-weight: bold;
    position: absolute;
    top: 30%; 
    left: 34.2%; 
    color: whitesmoke;
}

#Username {
    font-weight: bold;
    position: absolute;
    top: 35%; 
    left: 30%; 
    color: whitesmoke;
}



#Password {
    font-weight: bold;
    position: absolute;
    top: 40%; 
    left: 30.3%; 
    color: whitesmoke;
}

.createAccountButton {
    position: absolute;
    top: 48%; 
    left: 60%; 
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    background:transparent;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #f1efef;
    border-radius: 20px; /* Adjust the border-radius to control the curvature */
    transition: all .35s;
}

.createAccountButton:hover {
    width: 180px;
    border: 2px solid #01f8ec;
    background: transparent;
    color: #01f8ec;
  }


.goBackBtn{
    position: absolute;
            top: 5%;
            left: 5%;
            cursor: pointer;
}

.arrow {
    width: 1vw;
    height: 1vw;
    display: inline-block;
    transform: rotate(90deg);
}

.arrow span {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.3s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}