@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; 
}

body{
    background-image: url('results.jpg');
    background-size: cover; /* Adjust the size property to cover or contain as needed */
    background-repeat: no-repeat;
    background-position: center center;
    
   
}

h1{
    position: absolute;
    top: 2%;
    left: 2%;
    color:whitesmoke;
}
h2{
    position: absolute;
    top: 3%;
    left: 40%;
    color:whitesmoke;

}

.search-container{
    position: absolute;
    top: 10%;
    left: 30%;
   
}

.search-container input{
    width: 500px;
    height: 30px;
    border-radius: 20px;
    border: 3px solid #fff ;
}

.search-button{
    color:whitesmoke;
    width: 125px;
    height: 40px;
    line-height: 20px;
    text-decoration: none;
    background:transparent;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 20px; /* Adjust the border-radius to control the curvature */
    transition: all .35s;
}

.search-button:hover{
    width: 130px;
    border: 2px solid #01f8ec;
    background: transparent;
    color: #01f8ec;
}


#logoutBtn {
  top: 1%;
  left: 94%;
  position: absolute;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  background:transparent;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 20px; /* Adjust the border-radius to control the curvature */
  transition: all .35s;
}

#logoutBtn:hover {
  width: 115px;
  border: 2px solid #fc0606;
  background: transparent;
  color: #fc0606;
}


#createBtn{
    position: absolute;
    top: 72%;
    left: 83%;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    background:transparent;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 20px; /* Adjust the border-radius to control the curvature */
    transition: all .35s;
  }
  
    #createBtn:hover{
        width: 95px;
        border: 2px solid #01f8ec;
        background: transparent;
        color: #01f8ec;
    }
  
    #RecordTitle{
        position: absolute;
        top: 65%;
        left: 80%;
    }

    #username{
        color: white;
    }

    #fileList{
        position: absolute;
        top: 20%;
        left: 30%;
        font-weight: bold;
        font-size: 22px;
        
    }

   
    .returnResult{
        color: whitesmoke;
        text-decoration: none;
    }

    p{
        color: whitesmoke;
    }
    

    .addedP1{
        font-size: 22px;
        font-family: 'Bebas Neue', cursive;
        position: absolute;
        text-align: center;
        top: 20%;
        left: 72%;
        color: whitesmoke;
        text-align: center;
        padding-right: 3%;
    }

    .addedP2{
        font-size: 22px;
        font-family: 'Bebas Neue', cursive;
        position: absolute;
        text-align: center;
        top: 42%;
        left: 72%;
        color: whitesmoke;
        text-align: center;
        padding-right: 3%;
    }

    span {
        font-family: 'Bebas Neue';
        color: whitesmoke;
        text-align: center;
        font-size: 2em;
        position: absolute;
        top: 34%;
        left: 85%;
        transform: translate(-50%,-50%);
        background-image: linear-gradient(rgb(1, 39, 255), rgb(0, 204, 255));
        background-size: 100% 10px;
        background-repeat: no-repeat;
        background-position: 100% 0%;
         transition: background-size .7s, background-position .5s ease-in-out;
      }
      
      span:hover {
        background-size: 100% 100%;
        background-position: 0% 100%;
        transition: background-position .7s, background-size .5s ease-in-out;
      }


      .incoming button{
        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
        padding: 5px 20px;
        border-radius: 10px;
        margin-right: 10px;
      }


    .userGuide{
        position: absolute;
        left: 3%;
        right: 75%;
        top: 18%;
        border-right: 2px solid rgb(255, 255, 255);
        padding-right: 10px;
    }

    .userGuide p{
        text-align: justify;
        font-size: 14px;
    }

    .userGuide h3{
        color: whitesmoke;
    }


    .guideH{
        position: absolute;
        top: 8%;
        left: 5%;
        
    }
    
    
    
    