@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; 
}

body{
    background-image: url('background.jpg');
    background-size: cover; /* Adjust the size property to cover or contain as needed */
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(0px);
}

h1{
    font-size: 32;
    position:absolute;
    top: 30%;
    left: 10%;
    color: whitesmoke;
}
#Username {
    position: absolute;
    top: 30%; 
    left: 60%; 
    color:whitesmoke;
}

#Password {
    position: absolute;
    top: 35%; 
    left: 60.3%; 
    color:whitesmoke;
}

.LoginButton {
    position: absolute;
    top: 40%; 
    left: 78%; 
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid #333;
    background-color:gray;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 2px;
}

#SignUpLink {
    position: absolute;
    top: 47.8%;
    left: 82%;
    color:gray;
    cursor: pointer;
    text-decoration: none;
}


#SignupText {
    position: absolute;
    top: 45%; 
    left: 60%; 
    color:whitesmoke;
   
}


