@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 32;
    position:absolute;
    top: 30%;
    left: 10%;
    color: navy;
}
#Username {
    font-weight: bold;
    position: absolute;
    top: 30%; 
    left: 60%; 
}

#Password {
    font-weight: bold;
    position: absolute;
    top: 35%; 
    left: 60.3%; 
}

.LoginButton {
    position: absolute;
    top: 40%; 
    left: 78%; 
    padding: 5px 10px;
  font-size: 12px;
  border: 1px solid #333;
  background-color: navy;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 3px;
}

#SignUpLink {
    position: absolute;
    top: 48%;
    left: 82%;
    border: none;
}

#SignupText {
    position: absolute;
    top: 45%; 
    left: 60%; 
   
}


