@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.recordMate{
    position: absolute;
    top: 30%;
    left: 12%;
}


.recordMate span{
    font-size: 40px;
    color: whitesmoke;
    display: inline-block;
    animation: flip 3s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

#Username {
    position: absolute;
    top: 30%;
    left: 55%;
    color: whitesmoke;
}

#Password {
    position: absolute;
    top: 40%;
    left: 55.3%;
    color: whitesmoke;
}

input[type="text"],
input[type="password"] {
    position: absolute;
    top: -25%;
    left: 115%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: whitesmoke;
}

.LoginButton {
    position: absolute;
    top: 50%;
    left: 76%;
    width: 90px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: all .35s;
}

.LoginButton:hover {
    width: 95px;
    border-color: #01f8ec;
    color: #01f8ec;
}

#SignUpLink {
    position: absolute;
    top: 59.9%;
    left: 81%;
    color: gray;
    cursor: pointer;
    text-decoration: none;
}

#SignUpLink:hover{
    color: #01f8ec;
}

#SignupText{
    position: absolute;
    top: 57.2%;
    left: 59%;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#aboutUs {
    position: absolute;
    top: 90%;
    left: 45%;
    color: gray;
    cursor: pointer;
    text-decoration: none;
}

#SignUpLink:hover{
    color: #01f8ec;
}

