@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; 
}

body{
    background-color: #000000;
    background-size: cover; /* Adjust the size property to cover or contain as needed */
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(10px);
}

#startBtn{
    font-weight: bold;
    top: 40%;
    left: 25%;
    position: absolute;
    width: 85px;
    height: 35px;
    line-height: 40px;
    text-decoration: none;
    background:transparent;
    text-align: center;
    color: rgb(56, 37, 37);
    text-transform: uppercase;
    border: 2px solid rgb(95, 94, 94);
    border-radius: 20px; /* Adjust the border-radius to control the curvature */
    transition: all .35s;
}

#startBtn:hover{
    width: 95px;
    border: 2px solid #01f8ec;
    background: transparent;
    color: #01f8ec;
}

.close-button {
    display: block;
    width: 40px;
    height: 35px;
    position: absolute;
    left: 86%;
    color: rgb(61, 49, 49);
    background: transparent;
    border: none;
}

.close-button:hover{
    color: #e91010;
}

#stopBtn{
    font-weight: bold;
    top: 70%;
    left: 35%;
    position: absolute;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    background:transparent;
    text-align: center;
    color:  rgb(95, 94, 94);;
    text-transform: uppercase;
    border: 2px solid rgb(95, 94, 94);;
    border-radius: 20px; /* Adjust the border-radius to control the curvature */
    transition: all .35s;
}

#stopBtn:hover{
    width: 95px;
    border: 2px solid #ff0202;
    background: transparent;
    color: #f80101;
}

#collectionName{
    position: absolute;
    top: 20%;
    left:9%;
    width: 250px;
    height: 30px;
    border: 30px;
}

.inputBar{
    border-radius: 20px;
}
