@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

h1{
    position:absolute;
    top: 10%;
    left: 8%;
    color: navy;
}

#goBackBtn{
    color: #000;
}

#selectButton1{
    position: absolute;
    top: 40%;
    left: 37%;
    color: navy;
}

#selectButton2{
    position: absolute;
    top: 46%;
    left: 36%;
    color: navy;

}