@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; 
}

body{
    background-image: url('login.jpg');
    background-size: cover; /* Adjust the size property to cover or contain as needed */
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(0px);
}

h1{
    position:absolute;
    top: 15%;
    left: 10%;
    color: whitesmoke;
}

.goBackBtn{
    position: absolute;
            top: 5%;
            left: 5%;
            cursor: pointer;
}


.selectLink1{
    position: absolute;
    top: 35%;
    left: 37%;
    padding: 10px 20px;
    font-size: 16px;
    border: 3px solid #333;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

.selectLink2{
    position: absolute;
    top: 43.5%;
    left: 35.5%;
    padding: 10px 20px;
    font-size: 16px;
    border: 3px solid #333;
    background-color:black;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}


.selectLink1:hover + #individualParagraph {
    display: block;
}

.selectLink2:hover + #organizationsParagraph {
    display: block;
}

#individualParagraph{
    position: absolute;
    top: 55%;
    display: none;
    text-align: center;
}

#organizationsParagraph{
    position: absolute;
    top: 55%;
    display: none;
    text-align: center;
}

p{
    color: whitesmoke;
}


.arrow {
    width: 1vw;
    height: 1vw;
    display: inline-block;
    transform: rotate(90deg);
}

.arrow span {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}



