@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

h1{
    position:absolute;
    top: 10%;
    left: 8%;
    color: navy;
}

#goBackBtn{
    color: #000;
}


.selectButton1{
    position: absolute;
    top: 40%;
    left: 37%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #333;
    background-color: whitesmoke;
    color: navy;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.selectButton2{
    position: absolute;
    top: 48.5%;
    left: 35.5%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #333;
    background-color:whitesmoke;
    color:navy;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}